<h1>  Databinding</h1>
<h2>
    interpolation works!
</h2>

<h2>
    Nome: {{ nome }} sua idade: {{ idade }} sexo: {{ sexo }}
</h2>

<p>vamos fazer alguns testes</p>

<p>{{ nome }} tem mais de 36 anos? {{ idade > 36 }}</p>

<p>{{ nome }} é do sexo feminino {{ sexo == "F" }}</p>


<p>{{ nome }}é do sexo  {{sexo}} {{ sexo == "M" }}</p>

<p>Quanto é a {{ idade }} +1?</p>
<p>idade = {{idade+ 1}}</p>

<hr>

<h2>
    Property Binding
</h2>
<button disabled="true">Button</button>
<p>Mesma propiedade agora passando parametros</p>
<button [disabled]="checkedDisabled">Button</button>

<p>Imagens</p>

<img [src]="imgSrc">

<br>
<hr>

<h2>Event Binding</h2>

<button (click)="alertaInfo()"> Evento</button>

<hr>
<button (click)="alertaInfo1('Deu bom Fernando')"> Evento1</button>
<hr>
<button (click)="alertaInfo2($event)"> Evento2</button>
<hr>
<div (mousemove)="mouseMoveTest($event)" style="background-color:red; height: 300px; width: 300px;"></div>
<h3> {{ position.x }} - {{ position.y }} </h3>

<hr>

<h1>Tho-way Binding</h1>

<input [(ngModel)]="nome"> 
{{ nome }}